@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
}

.searcher{
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.bar{
  width: 687.88px;
height: 56px;
gap: 0px;
border-radius: 16px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
border-radius: 16px;
border: solid black 1px;
font-size: 24px;
padding-left: 15px;
margin-right: 17px;
}

.enterButton{
  width: 83px;
height: 62px;
left: 705px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
border-radius: 16px;
border: none;
border-width: 1px, 1px, 1px, 1px;
cursor: pointer;
background: #004346;
border: solid black 1px;

}

.gitButton{
  width: 130px;
  height: 48px;
  gap: 16px;
  border-radius: 24px;
  border: none;
  background-color: #172A3A;
  color: white;
  font-size: 16px;
}

.acessText{
font-size: 24px;
font-weight: 800;
line-height: 40px;
text-align: left;

}

.gitGroup{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 790px;
  height: 48px;
  gap: 16px;
  opacity: 0px;  
}

.searchText{
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
  text-align: left;
}  

.ouText {
    display: flex;
    align-items: center;
    text-align: center;
    width: 788px;
    height: 40px;
    gap: 10px;
    margin-bottom: 24px;
  }
  
  .ouText::before,
  .ouText::after {
    content: "";
    flex: 1;
    border-bottom: 5px solid #004346;
    margin: 0 10px;
    width: 36px;
  }
  
  .ouText span {
    font-size: 14px;
    color: #000;
    font-size: 24px;
  }

  .enterButton:disabled {
    background-color: #D1D5DB ;
    cursor:auto;
    opacity: 0.6;
}

.enterButton::after {
  content: ">";
  font-size: 30px;
  font-weight: bold;
  color: white;
}