
.content{
    padding-top: 700px;
    min-height: 100vh;
    overflow-y: auto;
}

.profile{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    border: solid black;
    margin-top: 50px;
    margin-left: 64px;
    margin-right: 64px;
    margin-bottom: 128px;
    height: 300px;
}

.profileInfo{
    width: 400px;
    overflow-wrap: break-word;
}

.summary{
    width: 400px;
    overflow-wrap: break-word;
}

.myHistory{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid black;
    height: auto;
    width: auto;
    margin-left: 64px;
    margin-right: 64px;
}

.xp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: 100%;
    margin-top: 128px;
}

.xpFooter{
    background: #172A3A;
}

.editButtom{
    width:80px;
height: 80px;
top: 140px;
left: 1199px;
gap: 0px;
opacity: 0px;
background: #508991;
color: white;
position: fixed;
top: 60px;
left: 1400px;
border-radius: 100px;
border: none;
}

.penBefore{
    width: 40px;
    height: auto;
}