.ouText {
    display: flex;
    align-items: center;
    text-align: center;
    width: 788px;
    height: 40px;
    gap: 10px;
  }
  
  .ouText::before,
  .ouText::after {
    content: "";
    flex: 1;
    border-bottom: 5px solid #004346;
    margin: 0 10px;
    width: 36px;
  }
  
  .ouText span {
    font-size: 14px;
    color: #000;
    font-size: 24px;
  }