.divider {
    display: flex;
    align-items: center;
    text-align: center;
    width: 788px;
    height: 40px;
    gap: 10px;
  }
  
  .divider::before,
  .divider::after {
    content: "";
    flex: 1;
    border-bottom: 5px solid #004346;
    margin: 0 10px;
    width: 36px;
  }
  
  .divider span {
    font-size: 14px;
    color: #000;
  }
  
  .divider span{
    font-size: 24px;
  }